In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("Downloads/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

In [3]:
#How many different companies are represented in the data set?
len(df1['Company Name'].unique())

439

In [4]:
#What is the total number of jobs created for businesses in Queens?
df_Queens=df1[df1['City']=='Queens']
df_Queens['Census Tract'].fillna(0).sum()

79051.0

In [5]:
#How many different unique email domains names are there in the data set?
df_email=pd.DataFrame(df1['company email'].dropna())
df_email['domain']=df_email['company email'].str.partition('@')[2]
#.extract(r'@(\w+)',expand=True)
len(df_email['domain'].unique())

357

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

In [7]:
#Considering only NTAs with at least 5 listed businesses, 
#what is the average total savings and the total jobs created for each NTA?
#Save your result for the previous question as a CSV file.
col=['NTA','Company Name','Job created','Total Savings']
df_NTA=df1[col]
X=df1.groupby(['NTA'])['NTA'].count().to_frame()
X.loc['College Point']

NTA    7
Name: College Point, dtype: int64

In [8]:
df_NTA=df_NTA[df_NTA['NTA'].isin(X[X['NTA']>=5].index)]

In [9]:
df_NTA=df_NTA[[col[0],col[2],col[3]] ]
group=df_NTA.groupby('NTA').agg(
ttl_jobs=pd.NamedAgg(column=col[2],aggfunc='sum'),
    avg_savings=pd.NamedAgg(column=col[3],aggfunc='mean')
    )
group.loc['College Point']

ttl_jobs           2.000000
avg_savings    17159.372857
Name: College Point, dtype: float64

In [10]:
group.to_csv("Downloads/NTA.csv")
'done'

'done'